/*

display: flex altera a quebra da div -> para Flexbox alinhando e distribuindo o espaco entre os itens de um container
justify-content: center / align-itens: center -> são usados para alinhar os itens horizontal e vertical ao centro
text-align: center -> garante que o texto dentro da div esteja centralizado horizontalmente

Padroes para usar para editar uma div

    width: 100vw;                               TAMANHO
    height: 100vh;
    background: #201b2c;                        COR DE FUNDO
    display: flex;                              CONFIGURACAO PADRAO EM UMA DIV
    justify-content: center ;                   Alinha horizontalmente ao centro 
    align-items: center;                        Alinha verticalmente até o centro
    border-radius: 20px;                        Tirar as quinas do card login, deixar mais novo
    box-shadow: 0px 10px 40px #00000056;        SOMBRA DA DIV (SE USA EM BOX DE LOGIN)
    flex-direction: column;                     DEIXAR A DIV COM A SEQUENCIA EM BAIXO, NAO AO LADO (USADO EM PAGINA DE LOGIN)


    LINK IMAGENS PARA PROJETOS ANIMADOS E TUDO
    https://storyset.com/



    DIV LOGIN USUARIO 

    .textfield {            FORMATANDO AS INFORMACOES 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
    .textfield > input{     FORMATANDO O CAMPO DE ESCREVER USUARIO E SENHA
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}
.textfield > label {        EDITANDO A ESCRITA EM CIMA DO CAMPO USUARIO E SENHA
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder {       EDITANDO A COR DO ESCRITO DENTRO DO QUE ESTA ESCRITO NO CAMPO INPUT TEXT
    color: #f0ffff94;
}
.btn-login {                EDITANDO BOTAO DE LOGIN
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    color: #2b134b;
    background: #0f8;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media only screen and (max-width: 950px){      Configuracao do zoom da pagina (funcionalidade para pc)
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){      Funcionalidade para celular (o site seguir para baixo)
    .main-login{
        flex-direction: column ;
    }
    .left-login > h1{
        display: none;
    }
}