body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.Total{
    width: 100%;
    height: 100vh;
    background: #201b2c;        
    display: flex;
    justify-content: center ;
    align-items: center;
    font-style: italic;
    color: bisque;
}
.Esquerda{
    width: 50vw;
    height: 100px;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    text-align: center;
   
}
.Esquerda > h1 {
    color: #bb6a98 ;
}
.Esquerda > h2 {
    color: #bb6a98;
}
.Direita{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login {
    width: 60%; /* essa medida é em % porque se trata de quanto o card login vai pegar da div right login */
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px; /*Tirar as quinas do card login, deixar mais novo*/
    box-shadow: 0px 10px 40px #00000056;
}
.card-login > h1 {
    color: #ac97a3;
}
.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}
.textfield > input::placeholder {
    color: #f0ffff94;
}
.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    color: #2b134b;
    background: #bb6a98;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #3f054152;
}