

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
#producto {
    border: 1px solid #ecf19a;
    padding: 10px;
    margin-bottom: 10px;
}
.central{
    width: 100vw;
    height: 100vh;
    background: #f0e6ad;        
    
    justify-content: center ;
    align-items: center;
}
.izquierda{
    width: 70vw;
    height: 100vh;
    display: inline-block;
    background: #e53e06;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
}
.izquierda h2{
    margin-top: 10px;
    font-size: px;
    color: rgb(241, 215, 165);
}
.derecha{
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
}


.card-filtro {
    width: 60%; 
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #e53e06;
    border-radius: 20px; 
    box-shadow: 0px 10px 40px #00000056
}
.card-cadastro > h1{
    margin-top: 8px;
    font-size: 25px;
    color: rgb(241, 215, 165);
}

.card {
    border-radius: 8px;
    padding: 10px;
    padding-right: 7px;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
    background-color: #524e47;
    display: inline-block;
}
.card img {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
    
}
.card h3 {
    margin-top: 8px;
    font-size: medium;
    color: rgb(241, 215, 165);
}
.card h4{
    margin-top: 8px;
    font-size: medium;
    color: rgb(241, 215, 165);
}
.card-filtro h1 {
    margin-top: 10px;
    font-size: px;
    color: rgb(241, 215, 165);
}
#formulario-filtro {
    display: flex;
    flex-direction: column;
    gap: 10px;
}