
#filtro-form {
    margin-bottom: 20px;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
#producto {
    border: 1px solid #ecf19a;
    padding: 10px;
    margin-bottom: 10px;
}
.central{
    width: 100vw;
    height: 100vh;
    background: #f0e6ad;        
    display: flex;
    justify-content: center ;
    align-items: center;
}
.izquierda{
    width: 70vw;
    height: 100vh;
    display: flex;
    background: #e53e06;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
}
.derecha{
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
}


#filtro-form {
    width: 60%; 
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #e53e06;
    border-radius: 20px; 
    box-shadow: 0px 10px 40px #00000056;
}

.card {

    border-radius: 8px;
    padding: 16px;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
    background-color: #81673d;
}
.card img {
    max-width: 100%;
}
.card h3 {
    margin-top: 8px;
    font-size: medium;
    color: rgb(241, 215, 165);
}