
#filtro-form {
    margin-bottom: 20px;
}
.producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.central{
    width: 100vw;
    height: 100vh;
    background: #c81010;        
    display: flex;
    justify-content: center ;
    align-items: center;
}
.izquierda{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
}
.derecha{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
}